body {
	background: #2a2c30;
	color: #ffffff;
}

#guide #heading {
	margin-top: 5rem;
	padding-bottom: 30px;
}

#content h1 {
	font-size: 20px;
	line-height: 1.3;
	font-weight: 600;
	border-bottom: solid 1px;
}

#content blockquote {
    padding: 0 1em;
    color: #d3dae2;
    border-left: .25em solid #dfe2e5;
}

#content ul {
    list-style-type: none;
}

#content .items {
	padding-bottom: 15px;
}

#content h4 {
	font-size: 16px;
	text-align: justify;
}