#header {
  font-size: 3rem;
  color: #ffffff;
  display: flex;
  height: 100vh;
  min-height: 100vh;
  align-items: center;
  text-align: left;
}

#header h1 {
  font-weight: 750;
}

#fade-in-bottom {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#fade-in-bottom {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to { 
    opacity: 1
  }
}

@media screen and (min-width: 64em) {
  #header {
    font-size: 3rem;
    padding: 0 5rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  #header {
    font-size: 2rem;
    line-height: 2;
    text-align: left;
    padding: 0 4rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 42em) {
  #header {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    flex-direction: row;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
}

#button {
  margin: 0.5rem;
  color: #ffffff;
  background-color: #ffffff14;
  border-color: #ffffff33;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s
}

#button:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3)
}

#logo {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

#logo {
  width: 250px;
  height: 250px;
  margin-bottom: 1rem;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0,  0px);
  }
  65%  {
    transform: translate(0, 15px);
  }
  to   {
    transform: translate(0, -0px);
  }    
}

@media screen and (min-width: 64em) {
  #logo {
    width: 250px;
    height: 250px; 
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  #logo {
    width: 160px;
    height: 160px; 
  }
}

@media screen and (max-width: 42em) {
  #logo {
    width: 150px;
    height: 150px; 
  }
}
